<div class="container">
  <div class="row vertical-center">
    <div class="col-md-4 col-md-offset-4">
      <form>
        <div class="form-group">
          <label for="loginEmail">Email address</label>
          <input type="email" class="form-control" id="loginEmail" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="loginPassword">Password</label>
          <input type="password" class="form-control" id="loginPassword" placeholder="Password">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Log In</button>
        </div>
      </form>
      Dont have an account yet? Please <a ui-sref="signup">register.</a>
    </div>
  </div>
</div>
