<div class="container">
  <div class="row vertical-center">
    <div class="col-md-4 col-md-offset-4">
      <form name="login" ng-submit="$ctrl.submit()" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : (login.email.$invalid && login.email.$touched) }">
          <label for="loginEmail">Email address</label>
          <input
            type="email"
            name="email"
            class="form-control"
            id="loginEmail"
            placeholder="Email"
            ng-model="$ctrl.user.email"
            required
          >
          <p ng-show="(login.email.$invalid && login.email.$touched && login.email.$error.required)"
             class="help-block"
          >Your email is required.</p>
          <p ng-show="(login.email.$invalid && login.email.$touched && login.email.$error.email)"
             class="help-block"
          >Please enter valid email.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : (login.password.$invalid && login.password.$touched) }">
          <label for="loginPassword">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="loginPassword"
            placeholder="Password"
            ng-model="$ctrl.user.password"
            minlength="6"
            required
          >
          <p ng-show="(login.password.$invalid && login.password.$touched && login.password.$error.required)"
             class="help-block"
          >Your password is required.</p>
          <p ng-show="(login.password.$invalid && login.password.$touched && login.password.$error.minlength)"
             class="help-block"
          >Please enter at least 6 symbols.</p>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Log In</button>
        </div>
      </form>
      Dont have an account yet? Please <a ui-sref="signup">register.</a>
    </div>
  </div>
</div>
