<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form class="form-inline">
        <div class="form-row">
          <div class="form-group">
            <label for="searchFromDate">From</label>
            <input type="text" class="form-control" id="searchFromDate" placeholder="From">
          </div>
          <div class="form-group">
            <label for="searchToDate">To</label>
            <input type="text" class="form-control" id="searchToDate" placeholder="To">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> In Stock
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="searchPriceFrom">Price from</label>
            <input type="text" class="form-control" id="searchPriceFrom" placeholder="From">
          </div>
          <div class="form-group">
            <label for="searchPriceTo">To</label>
            <input type="text" class="form-control" id="searchPriceTo" placeholder="To">
          </div>
          <div class="form-group">
            <label for="searchColor">Color</label>
            <select class="form-control" id="searchColor">
              <option value="1">Blue</option>
              <option value="2">White</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <hr>
      <div class="item">
        <div class="item-image">
          <img src="http://placehold.it/150x150" alt="placeholder">
        </div>
        <div class="item-name">
          Name <br>
          Blue
        </div>
        <div class="item-details">
          Issue 05/15/2017<br>
          <div class="checkbox">
            <label>
              <input type="checkbox" disabled checked> In Stock
            </label>
          </div>
        </div>
        <div class="item-order">
          <div class="item-price">$20</div>
          <button class="btn btn-primary">Order</button>
        </div>
      </div>
    </div>
  </div>

</div>
