<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form class="form-inline" name="filter">
        <div class="form-row">
          <div class="form-group">
            <label for="searchDateFrom">From</label>
            <input
              type="date"
              class="form-control"
              id="searchDateFrom"
              placeholder="From"
              ng-model="dateFrom"
            >
          </div>
          <div class="form-group" ng-class="{ 'has-error' : (filter.dateTo.$invalid) }">
            <label for="searchDateTo">To</label>
            <input
              type="date"
              class="form-control"
              id="searchDateTo"
              name="dateTo"
              placeholder="To"
              ng-model="dateTo"
              min="{{dateFrom}}"
            >
          </div>
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                ng-model="$ctrl.filter.in_stock"
                ng-false-value="{{null}}"
              > In Stock
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="searchPriceFrom">Price from</label>
            <input
              type="number"
              class="form-control"
              id="searchPriceFrom"
              placeholder="From"
              ng-model="priceFrom"
            >
          </div>
          <div class="form-group">
            <label for="searchPriceTo">To</label>
            <input
              type="number"
              class="form-control"
              id="searchPriceTo"
              placeholder="To"
              ng-model="priceTo"
            >
          </div>
          <div class="form-group">
            <label for="searchColor">Color</label>
            <select class="form-control" id="searchColor" ng-model="$ctrl.filter.color">
              <option value="">-----</option>
              <option ng-repeat="color in $ctrl.colors" value="{{color}}">{{color}}</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <hr>
      <div
        class="item"
        ng-repeat="item in $ctrl.items | filter:$ctrl.filter
         | filter:$ctrl.rangePrice('price', priceFrom, priceTo)
         | filter:$ctrl.rangeDate('issue_date', dateFrom, dateTo)"
      >
        <div class="item-image">
          <img ng-src="{{item.image_url}}" alt="placeholder">
        </div>
        <div class="item-name">
          {{item.name}} <br>
          {{item.color}}
        </div>
        <div class="item-details">
          Issue {{item.issue_date | date:'MM/dd/yyyy'}}<br>
          <div class="checkbox">
            <label>
              <input type="checkbox" disabled ng-checked="item.in_stock"> In Stock
            </label>
          </div>
        </div>
        <div class="item-order">
          <div class="item-price">${{item.price}}</div>
          <button class="btn btn-primary" ng-click="$ctrl.order(item)" ng-disabled="item.inCart">
            {{item.inCart ? 'Ordered' : 'Order'}}
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
