<div class="container">
  <div class="row vertical-center">
    <div class="col-md-4 col-md-offset-4">
      <form>
        <div class="form-group">
          <label for="signupEmail">Email address</label>
          <input type="email" class="form-control" id="signupEmail" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="signupPassword">Password</label>
          <input type="password" class="form-control" id="signupPassword" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="signupConfirm">Confirm password</label>
          <input type="password" class="form-control" id="signupConfirm" placeholder="Password">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Sign Up</button>
        </div>
      </form>
      Already registered? Please <a ui-sref="login">login.</a>
    </div>
  </div>
</div>
