body {
  background-color: lightgrey;
}
.vertical-center {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
}

.form-row {
  text-align: center;
  margin-bottom: 20px;
}

.alert {
  margin-bottom: 0;
}
