.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.star-rating .star {
  padding: 1px;
  color: #eee;
  font-size: 20px;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}

.star-rating .star.filled {
  color: #fd0;
}
